
# Dependency directories
node_modules/

# dotenv
.env.local
.env*.local

.DS_STORE

# cdktf
*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
# cdktf

# .turbo
.turbo

# task artifacts
dist
artifact 
build